{# create a new list item #}

{% set category_menu = [('list_items', url_list_items)] %}
{% extends 'base/base.html' %}
{% import 'input/form.html' as form with context %}
{% import 'input/field.html' as field with context %}
{% import 'input/xmlui.html' as xmlui with context %}

{% block body %}
    <div class="container">
        <div class="message">
            <div class="message-body">
                <span class="content">{% trans app_name=C.APP_NAME%}This page allows you to report an issue or ask/suggest a new feature for {{app_name}}{% endtrans %}</span>
            </div>
        </div>

        <div class="create single list_item box">
            {% call form.form() %}
            {{ xmlui.generate(new_list_item_xmlui,
            attributes = {'title': {'required': 'required',
            'placeholder': _("Short description of your issue/request")},
            'body': {'required': 'required',
            'placeholder': _("Please describe your issue/request with as much details as possible. You can use Markdown syntax.")},
            'labels': {'placeholder': _("You can enter one or several labels separated by commas")},
            })}}
            {{ field.submit(_("Create list item"), class="mt-4") }}
            {% endcall %}
        </div>
    </div>
{% endblock body %}
