{% if status == none %}
    <div class="call_status notification is-info column my-0">
    </div>
{% elif status == "dialing" %}
    <div class="call_status notification is-info column my-0">
        <p>{% trans %}Calling {{name}}…{% endtrans %}</p>
    </div>
{% elif status == "ringing" %}
    <div class="call_status notification is-info column my-0">
        <p>{% trans %}{{name}}'s device is ringing…{% endtrans %}</p>
    </div>
{% elif status == "in-call" %}
    <div class="call_status notification is-success column my-0">
        <p>{% trans %}In call with {{name}}.{% endtrans %}</p>
    </div>
{% elif status == "on-hold" %}
    <div class="call_status notification is-warning column my-0">
        <p>{% trans %}Call with {{name}} is on hold…{% endtrans %}</p>
    </div>
{% elif status == "connecting" %}
    <div class="call_status notification is-info column my-0">
        <p>{% trans %}Connecting with {{name}}…{% endtrans %}</p>
    </div>
{% elif status == "connection-lost" %}
    <div class="call_status notification is-danger column my-0">
        <p>{% trans %}Connection with {{name}} lost.{% endtrans %}</p>
    </div>
{% elif status == "reconnecting" %}
    <div class="call_status notification is-warning column my-0">
        <p>{% trans %}Reconnecting to {{name}}…{% endtrans %}</p>
    </div>
{% endif %}
