{% extends 'base/base.html' %}
{% import 'components/block.html' as block with context %}
{% import 'input/form.html' as form with context %}
{% import 'input/field.html' as field with context %}

{% block body %}
{{ icon_defs('file-image', 'trash-empty') }}
<section class="section">
    <div class="content has-items-centered is-flex">
        {{ component.action_button(url_photos_new) }}
    </div>
    {% if interests is defined %}
        <div class="message is-info">
            <div class="message-body">
                {% trans nb_interests=interests|length%}
                You have currently {{nb_interests}} album in your personal list
                {% pluralize %}
                You have currently {{nb_interests}} albums in your personal list
                {% endtrans %}
            </div>
        </div>

        {{block.interests_grid(interests, 'file-image')}}
    {% endif %}
    <article class="message has-text-centered">
        <div class="message-body">
            {% trans %}
            Photo discovery is not implemented yet, however you can enter a jid below to find its albums
            {% endtrans %}
        </div>
    </article>
    {% call form.form(class="form--single") %}
        {{ field.text("jid", _("device full jid"), required=true)}}
        {{ field.submit(_("Access")) }}
    {% endcall %}
</section>
{% endblock body %}
