{% import 'components/avatar.html' as avatar with context %}

<div class="column is-2-desktop is-6-touch">
    <div class="card x-is-hoverable">
        {% if multiple_selection %}
            <div class="checkbox-container pl-1 pt-1">
                <input type="checkbox" class="search-item__checkbox">
            </div>
        {% endif %}
        <a href="{{url}}">
            <div class="card-image is-flex has-items-centered px-1 py-1">
                {{ avatar.avatar(item.entity, "is-64x64") }}
            </div>
            <div class="card-content has-text-centered has-text-shortenable px-1 py-1">
                <span>{{identities[item.entity].nicknames[0] if identities[item.entity].nicknames else item.entity}}</span>
                {% if not options.no_group %}
                    <div class="search-item__group-tags is-flex is-justify-content-center mt-2">
                        {% if item.groups %}
                        <div class="tags">
                            {% for group in item.groups %}
                            <span class="tag is-rounded is-light">{{ group }}</span>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </a>
        {% block call %}{% endblock %}
    </div>
</div>
