
.time-and-events {
  position: relative;
  width: 100%;
}

.hour-row,
.half-hour-row {
  position: relative;
}

.half-hour-row .time-text {
  font-weight: lighter;
}

.time-row {
  display: flex;
  align-items: center;
  height: 30px;
}

.time-text {
  margin-right: 5px;
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: black;
}

.half-hour-row .line {
  background-color: #D3D3D3;
}

.event-box {
  position: absolute;
  left: 3em;
  right: 0;
  max-width: 800px;
  z-index: 2;
  padding: 0.25em;
  border-radius: 0.25em;
  overflow-y: auto;
  background-color: #ADD8E6;
  border: 1px solid #00008B;
}

.event-name {
  font-weight: bold;
}

.event-box.is-conflicting {
  background-color: red;
}

.event-box.already-started {
  border-top: 1px dotted;
}

.event-box.not-finished {
  border-bottom: 1px dotted;
}

#current-time-line {
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background-color: red;
  z-index: 3;
}
