<div class="extra-menu-popup">
    <ul class="menu-list">
        <li class="action_quote">
            <a href="#" class="">
                {{ icon('quote-left', cls='icon is-small') }} {% trans %}Quote{% endtrans %}
            </a>
        </li>
        {% if edit %}
            <li class="action_edit">
                <a href="#" class="">
                    {{ icon('pencil', cls='icon is-small') }} {% trans %}Edit{% endtrans %}
                </a>
            </li>
        {% endif %}
        {% if retract %}
            <li class="action_retract">
                <a href="#" class="">
                    {{ icon('trash-empty', cls='icon is-small has-text-danger') }} {% trans %}Retract{% endtrans %}
                </a>
            </li>
        {% endif %}
    </ul>
</div>
