{% import 'components/avatar.html' as avatar with context %}

<div class="reacting-users-list">
    {% for jid in reacting_jids %}
        <div class="reacting-user-item is-flex is-align-items-center mb-2">
            {{ avatar.avatar(jid, "is-24x24") }}
            <span class="reacting-user-nickname ml-2">
                {{ identities[jid].nicknames[0] if identities[jid].nicknames else jid }}
            </span>
        </div>
    {% endfor %}
</div>
